:root {
    --background-img: url(/img/wallpaperflare.com_wallpaper.jpg);
    --background-img2: url(/img/aboutme.jpg);
    --background-img3: url(/img/contact.jpg);
    --background-img4: url(/img/backgroundprojects.jpg);
    --background-img5: url(/img/windowsXP.jpg);
    --background-img6: url(/img/city-moore-municipal-court-2.jpg);
    --background-img7: url(/img/photo-1639322537231-2f206e06af84.jpg);
    --background-img8: url(/img/job-search-related-words-background-footage-000998921_iconl.webp);
    --background-img9: url(/img/d6a692fc1e0489955e2b4ed4ae742c76.jpg)
}

body {
    background-image: var(--background-img);
    background-repeat: no-repeat;
    background-size: cover;
}

.body2 {
    background-image: var(--background-img6);
}

.body3 {
    background-image: var(--background-img3);
}

.body4 {
    background-image: var(--background-img4);
}

.body5 {
    background-image: var(--background-img5);
}

.body6 {
    background-image: var(--background-img7);
}

.body7 {
    background-image: var(--background-img8);
}

.body8 {
    background-image: var(--background-img9);
}

